#navBar {
  background-color: lightgray;
}
.tree {
  color:lightseagreen;
}
#selector {
  background-color: lightgrey;
  color: #6c757d;
}
#selector:hover {
  transform:translateY(-3px);
  background-color: rgb(233, 229, 229);
}
